-# %h1 Brankets
-# = link_to board_path(@board) do
-#   - @tasks.each do |task|
-#     = render 'commons/task', task: task

.container
  %h1 Comment
  - @comments.each do |comment|
    %p= comment.content
    -# = render 'commons/comment', comment: comment

.container
  = link_to new_board_comment_path(@task) do
    .btn-secondary
      コメントを追加