.container
  %h2.board-top All Boards
  %div
    - @boards.each do |board|
      = render 'commons/board', board: board
  = link_to new_board_path do
    .card_add
      %p.card_add_board + Add new board