.container
  %h1.board_top All Boards
  %div
    - @boards.each do |board|
      = render 'commons/board', board: board

.container
  = link_to new_board_path do
    .add_board
      %h2 + Add new board