.container
  %h2.board_top All Boards
  %div
    - @boards.each do |board|
      = render 'commons/board', board: board

.container
  = link_to new_board_path do
    .card_add
    %h2.card_add_board  + Add new board