%h1 Brankets
= link_to board_task_path(board_id: @board.id, task_id: @board.id) do
  - @tasks.each do |task|
    = render 'commons/task', task: task

.container
  = link_to new_board_task_path(@board) do
    .add_new
      %h2 + Add new card