.profile_image {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
  position: relative;
  top: 30px;
  left: 30px;
  margin-bottom: 10px;
}
.profile_name {
  font-weight: bold;
  margin-bottom: 10px;
  }

.profile-edit {
  position: relative;
  left: 0px;
  top: 0px;

}